<ng-container *ngIf="user_lc === undefined">
  <li class="nav-item d-lg-block d-none mb-0">
    <a routerLink="/login" class="nav-tool">
      <i class="cxi-profile nav-tool-icon"></i>
      <span class="nav-tool-label">Iniciar sesión</span>
    </a>
  </li>
</ng-container>
<ng-container *ngIf="user_lc">
  <li class="nav-item d-lg-block d-none dropdown">
    <a class="nav-tool dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
      <i class="cxi-profile nav-tool-icon"></i>
      <span class="nav-tool-label" style="background-color: red;">{{ user_lc.username }}</span>
    </a>
    <div class="dropdown-menu">
      <a routerLink="/cuenta/perfil" routerLinkActive="active" class="dropdown-item">
        <i class="cxi-profile mr-2"></i>
        Perfil
      </a>
      <a href="#" class="dropdown-item">
        <i class="cxi-comment mr-2"></i>
        Mensajes
        <span class="badge badge-pill badge-success ml-2">5</span>
      </a>
      <a (click)="logout()" class="dropdown-item" style="cursor: pointer;">
        <i class="cxi-logout mr-2"></i>
        Cerrar sesión
      </a>
    </div>
  </li>
</ng-container>
