<app-nav></app-nav>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Sorteo</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Nuevo Sorteo</p>

  </div>
</div>

<form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
  <div class="card box-shadow-sm">
    <div class="card-header">
      <h5 style="margin-bottom: 0px;">Registro de Sorteo</h5>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Nombre</label>
          <input class="form-control" type="text" placeholder="Nombre" required name="nombres"
            [(ngModel)]="sorteo.name">
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Descripcion</label>
          <input class="form-control" type="text" placeholder="Descripcion" required name="apellidos"
            [(ngModel)]="sorteo.description">
        </div>
        <div class="col-md-4 form-group">
          <label for="validationCustom01" class="form-label">Prize</label>
          <input class="form-control" type="text" placeholder="Prize" required name="email" [(ngModel)]="sorteo.prize">
        </div>
      </div>

    </div>
    <div class="card-footer">
      <button *ngIf="!load_btn" class="btn btn-primary mr-3" type="submit">Crear Sorteo</button>
      <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
        <span class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>
        Creando...
      </button>
      <a [routerLink]="['/login/dashboard']" class="btn btn-warning">Regresar</a>
    </div>
  </div>
</form>
