<section class="flex gap-5 container">
  <article class="contain ">

    <div class="laruleta" #laruleta>
      <div class="inner-ruleta">

      </div>
    </div>
    <button (click)="startRuleta()">Empezar</button>
  </article>

  <div class="width">
    <h1 class="title">Titulo del sorteo: {{ sorteo().name}}</h1>
    <p>
      <strong class="subtitle">Reglas:</strong>
      <br>
      1. Cada participante tendrá un número asignado.
      <br>
      2. El sorteo se realizará con una ruleta.
      <br>
      3. El ganador será el número que quede seleccionado.
   </p>
   <p class="subtitle">
    Número de participantes <span>{{ participants().length }}</span>
  </p>
  <div class="tables">
    <h2>Lista de Usuarios</h2>
    <div class="tables">
      <h2>Lista de Usuarios</h2>
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Id de los participantes</th>
          </tr>
        </thead>
        <tbody *ngIf="sorteo().participants && sorteo().participants.length > 0">
          <tr *ngFor="let participante of sorteo().participants; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{   participante }}</td>
          </tr>
        </tbody>
        <tbody *ngIf="!sorteo().participants || sorteo().participants.length === 0">
          <tr>
            <td class="text-center fs-2" colspan="5">No Hay Usuarios Registrados</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>



</section>
