<app-header [user]="user()"></app-header>

<ul class="row">
  @for (sorteo of listSorteos(); track $index) {
     <li class="card d-flex flex-column justify-content-center gap-3 mt-10 ">
  <h2 class="text-xl">{{ sorteo.name }}</h2>

  <p>{{ sorteo.description }}</p>

  <button>Ir al sorteo</button>
  <div class="d-flex justify-content-center gap-4">
    <span>
      {{ sorteo.startDate | date:'dd/MM/yyyy' }}
    </span>
    <span>
      {{ sorteo.endDate | date:'dd/MM/yyyy' }}
    </span>
  </div>
</li>
  }@empty {
        
  }
 
</ul>

@if (respRegisterSorteo()?.status === 'NOTSERVER') {
  <div class="card-invitation">
    <a href="https://discord.com/invite/pBjEVYTC7t">Ingresa a nuestro Servidor</a>
  </div>
} 

<app-toast [toggleToast]="toggleToast()"
  [respRegisterSorteo]="respRegisterSorteo()"></app-toast>
<app-spinner [isLoading]="pageLoading()" />
