header{
  padding: 10px;
  /* background: linear-gradient(#000, #457235); */
}

header img{
  border-radius: 50%;
}

header .card-name-avatar{
  background-color: #000a;
  width: max-content;
  padding: 15px;
  border-radius: 10px;
}

header .content-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-shadow: 0 0 10px black;
}
.verify{
  cursor: pointer;
  background-color: #fff;
  color: #000;
  padding: 5px;
  border-radius: 50%;
}

.contain-description{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 50px 0;

}
.card-regalos{
  width: 90%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}


@media screen and (max-width: 920px) {
  .contain-description{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    
  }

  .contain-description .card-regalos{
    width: 95%;
  }
}