.contain-sorteos{
  height: calc(100vh - 120px);
  padding: 20px;
  color: var(--color-dark);
}

.card-sorteos{
  box-shadow: 0.4px 0.9px 2px 0 black;
  border-radius: 10px;
}

.contain-description{
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 20px 0;
  height: 100%;
}

.card-regalos{
  width: 90%;
  height: max-content;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

.card-invitation{
  background-color: var(--color-principal);
  padding: 10px 0;
  text-align: center;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  color: #4488ee;
}

@media screen and (max-width: 920px) {
  .contain-description{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

  }

  .contain-description .card-regalos{
    width: 95%;
  }
}